<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<%@ page session="false"%>
<html>
<head>
<title>Home</title>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
	integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
	crossorigin="anonymous"></script>

<link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <script type="text/javascript" src="/resources/js/jqgrid/jQuery.jqGrid.setColWidth.js"></script>

<style>
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.charts {
	text-align: center;
}

.charts .container {
	display: flex;
	justify-content: space-around;
}

.charts canvas {
	max-width: 330px;
}

.history {
	display: flex;
	flex-direction: column;
	align-items: center;
}
</style>

</head>
<body onload="getData()">

	<section class="charts">
		<h1>Login Statistics</h1>
		<div class="container">
			<canvas id="barChart" width="400" height="400"></canvas>
			<canvas id="pieChart" width="400" height="400"></canvas>
		</div>

	</section>

	<section class="history">

		<h1>Login History</h1>
		<div>
			<table id="grid"></table>
		</div>

	</section>

	<script>
		/* 로그인 히스토리 종류별 구분 */
        //var data = '${loginHistory}';
        var data = "erid3232@naver.com,success,2021-02-19,"+
        "eris,fail,2021-02-19," +
        "erid3232@gmail.com,fail,2021-02-18,"+
        "erid3232@gmail.com,fail,2021-02-17,"+
        "erid3232@naver.com,fail,2021-02-16,"+
        "erid3232@naver.com,fail,2021-02-15,"+
        "erid3232@naver.com,success,2021-02-15,"
		var arrayData = data.split(',');

		var emailDatas = []; //이메일 
		var accessedDatas = []; //로그인 성공 여부
		var dateDatas = []; //로그인 날짜
		var historyDatas = [] //로그인 히스토리
		for (var i = 0; i < arrayData.length - 3; i = i + 3) {
			
			emailDatas.push(arrayData[i]);
			accessedDatas.push(arrayData[i + 1]);
			dateDatas.push(arrayData[i + 2]);
			
			historyDatas.push({
				Email : arrayData[i],
				Accessed : arrayData[i + 1],
				Date : arrayData[i + 2]
			});
		}
	</script>

	<script>
        /* 로그인 날짜 정리 */
        var recentDate = dateDatas[0]; // 최근 날짜
        var dateCntArray = []; // 날짜별 로그인 시도 횟수
        var dateDivision = ['No Data','No Data','No Data','No Data','No Data','No Data','No Data']; // 날짜 구분

        var cnt = 0;
        var dateCnt = 1; //날짜 수

        // 날짜 계산
        for (var i = 1; i <= dateDatas.length; i++) {
            cnt++;
            if (dateDatas[i] != recentDate) {
                dateDivision[dateCnt-1] = recentDate; //날짜가 바뀌면 현재까지 날짜를 배열에 넣기
                dateCntArray.push(cnt);

                recentDate = dateDatas[i]; //날짜 변경
                cnt = 0;
                dateCnt++;
                console.log('dateCnt', dateCnt);
            }

            if (dateCnt > 7 ) {
                dateCntArray.push(cnt);
                break;
            }
        }

        var latestDate = dateDivision[0];

        /* 로그인 성공 횟수 */
        var accessedCase = [0, 0];
        for (var i = 0; i < accessedDatas.length; i++) {
            if (accessedDatas[i] === 'success') {
                accessedCase[0]++;
            } else {
                accessedCase[1]++;
            }
        }
    </script>

    <script>
        /* Bar Chart 구현 코드 */
        var barCtx = document.getElementById('barChart').getContext('2d');
        var myBarChart = new Chart(barCtx, {
            type: 'bar',
            data: {
                    labels: [
                    dateDivision[6],
                    dateDivision[5],
                    dateDivision[4],
                    dateDivision[3],
                    dateDivision[2],
                    dateDivision[1],
                    dateDivision[0],
                ],
                datasets: [{
                    label: 'Login Cnt',
                    data: [
                        dateCntArray[6], dateCntArray[5], dateCntArray[4],
                        dateCntArray[3], dateCntArray[2], dateCntArray[1],
                        dateCntArray[0]],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 159, 64, 0.2)'],
                    borderColor: ['rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)', 'rgba(255, 159, 64, 1)'],
                    borderWidth: 1

                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true, 
                            callback: function (value) {
                                if (0 === value % 1) {
                                    return value;
                                }
                            }
                        }
                    }]
                }
            }

        });
    </script>

    <script>
        /* Pie Chart 구현 코드 */

        var pieCtx = document.getElementById('pieChart').getContext('2d');
        var myPieChart = new Chart(pieCtx, {
            type: 'pie',
            data: {
                labels: ['Login Successed', 'Login Failed'],
                datasets: [{
                    label: '# of Votes',
                    data: [accessedCase[0], accessedCase[1]],
                    backgroundColor: [

                        'rgba(54, 162, 235, 0.2)', 'rgba(255, 99, 132, 0.2)'

                    ],
                    borderColor: ['rgba(54, 162, 235, 1)',
                        'rgba(255, 99, 132, 1)'

                    ],
                    borderWidth: 1,
                    
                }]
            },
            options: {
               
                plugins: {
                    datalabels: {
                        color: 'black',
                        labels: {
                            title: {
                                font: {
                                    weight: 'bold',
                                    size: 30
                                }
                            }
                        }
                    }
                }
            }
        });
    </script>

    <script>
        /*  구현 코드 */
        //<![CDATA[
        $(function () {
            "use strict";
            $("#grid").jqGrid({
                colModel: [{
                    name: "Email"
                }, {
                    name: "Accessed"
                }, {
                    name: "Date"
                }],
                data: historyDatas
            });
            $("#grid").jqGrid('setColWidth', 'Email' , 220, false);
        });
        
//]]>
    </script>

	<script>
		/* chart.js 구현 코드 */
		//<![CDATA[
		$(function() {
			"use strict";
			$("#grid").jqGrid({
				colModel : [ {
					name : "Email"
				}, {
					name : "Accessed"
				}, {
					name : "Date"
				} ],
				data : historyDatas
			});
		});
		//]]>
	</script>

</body>
</html>
